{% extends 'base.html' %}

{% block title %}
      Searching Results
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p style="text-align:center;">{{msg}}</p>
      {% endfor %}
    {% endif %}
{% endwith %}
<p>Hello, {{ username }}!</p>
<h1 style="text-align:center">Searching Results</h1>
{% if cars %}
  {% for car in cars  %}
    <p style="text-align:center">Car Id: {{car.car_id}},   Brand: {{car.brand}},   Model: {{car.model}}, 
        Location: ({{car.locationX}}, {{car.locationY}}), 
        Availability: {%if car.available %}Yes - <a href="/book/{{car.car_id}}" style="color:springgreen">Book this car</a>
      {% else %}Not available{% endif %}</p>
  {%  endfor %}
{% endif %}


{% endblock %}